$bg-color: #000000;
$nav-bg-color: #010f1a;
$primary-text-color: #fff;

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');


.app {
    padding: 0;
    margin: 0;
    height: 100%;
}

.app {
    .navbar {
        position: absolute;
        z-index: 99;
        width: 100%;
        background-color: $nav-bg-color;
        color: #fff;
        padding: 20px 0 20px 0;
        display: inline-flex;
        flex-wrap: nowrap;
        align-content: stretch;
        justify-content: space-between;
        align-items: center;
        transition: all .5s ease;
        box-shadow: 0 4px 15px rgba(0, 0, 0, .2);
    }

    .booklist {
        display: inline-flex;
        padding-top: 140px;
        padding-left: 25px;
        padding-right: 20px;
        flex-wrap: wrap;
        transition: all .5s ease;
    }

    .empty-booklist {
        display: inline-flex;
        padding-top: 140px;
        padding-left: 25px;
        padding-right: 20px;
        flex-wrap: wrap;
    }
}

.app .navbar {
    h1 {
        margin-left: 20px;
        font-weight: 700;
        font-family: 'Rubik';
    }

    div:first-child {
        margin-left: auto;
    }

    .theme-toggle {
        border-radius: 4px;
        background-color: #fff;
        color: #171717;
        margin-top: 4px;
        padding: 5px;
        cursor: pointer;
    }

    ul {
        display: inline-flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }

    li {
        font-family: 'Rubik';
        display: inline-block;
        margin-right: 15px;
    }
}



.app .booklist,
.empty-booklist {
    .bookdetails {
        width: 150px;
        height: 146px;
        background-color: #0b1b28;
        border-radius: 10px;
        margin-right: 20px;
        margin-bottom: 20px;
        box-shadow: 0 5px 8px rgba(4, 15, 23, .1);

        text-align: center;
        padding: 0px 10px 10px 10px;
    }

    .bookdetails-add {
        width: 165px;
        height: 100px;
        background-color: transparent;
        border-radius: 10px;
        border: #151d40 dashed 2px;
        cursor: pointer;

        text-align: center;
        padding: 40px 0 10px 0;
    }
}

.app .booklist .bookdetails {
    .cancel {
        width: max-content;
        position: absolute;
    }

    .cancel-icon {
        cursor: pointer;
        margin-top: 10px;
        width: 18px;
        height: 18px;
        padding: 3px;
        background-color: #02111d;
        color: #fff;
        border-radius: 30px;
    }

    .book-icon {
        color: #7d4cfc;
        width: 40px;
        height: 40px;
        margin-bottom: 5px;
        margin-top: 42px;
    }

    h2 {
        font-size: .9em;
        font-weight: 600;
        text-transform: capitalize;
        line-height: .5;
    }

    p {
        font-size: .75em;
        text-transform: capitalize;
        line-height: .8;
        font-weight: lighter;
        color: #bfbfbf;
    }
}

.app .booklist,
.empty-booklist .bookdetails-add {
    .add-icon {
        color: #5431cb;
        background-color: #fff;
        border-radius: 30px;
        width: 35px;
        height: 35px;
        padding: 5px;
        margin-bottom: 5px;
    }

    h2 {
        color: #fff;
        font-size: .85em;
        text-transform: capitalize;
    }
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
}



.modal {

    .modal-header {
        background-color: $bg-color;
        display: flex;
        align-items: center;
    }

    .modal-title {
        font-family: 'Rubik';
        color: #fff;
        font-size: 1.2em;
        margin-top: 28px;
        margin-left: 10px;
    }

    .modal-body {
        padding: 15px 30px 15px 20px;
    }

    .modal-content {
        width: 450px;
        height: 300px;
        background-color: #0b1b28;
        border-radius: 15px;
        overflow: hidden;
        transition: all 0.3s ease-in-out;
    }

    .user-modal {
        height: 250px !important;
    }

    .modal-footer {
        text-align: center;
    }

}

.modal-content .modal-header {
    .book {
        width: fit-content;
        height: fit-content;
        background-color: #fff;
        border-radius: 100px;
        padding: 10px;
        margin-top: 20px;
        margin-left: 20px;
        margin-bottom: 20px;
    }

    .book-icon {
        color: #5431cb;
        width: 35px;
        height: 30px;
    }

    .cancel {
        width: max-content;
        position: absolute;
        right: 0;
    }

    .cancel-icon {
        cursor: pointer;
        margin-right: 10px;
        width: 18px;
        height: 18px;
        padding: 10px;
        color: #fff;
        background-color: #02111d;
        border-radius: 30px;
    }
}

.modal .modal-body {
    .modal-input {
        width: 100%;
        height: 42px;
        border: 1px solid #161f47;
        margin-bottom: 10px;
        padding-left: 10px;
        border-radius: 5px;
        font-family: 'Rubik';
        outline: none;
        background-color: #e5f1fb;
        color: #02111d;
    }
}

.modal .modal-footer {
    .modal-submit {
        cursor: pointer;
        font-family: 'Rubik';
        height: 37px;
        padding: 0 20px 0 20px;
        color: #fff;
        border-radius: 5px;
        background-color: transparent;
        border: #1e295a dashed 2px;
    }
}

.enter-done {
    opacity: 1;
    pointer-events: visible;
}

.exit {
    opacity: 0;
}

.enter-done .modal-content {
    transform: translateY(0);
}

.exit .modal-content {
    transform: translateY(-200px);
}




/* UTILITY CLASSES */

.text-center {
    text-align: center;
}

.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-right: auto;
}

.ml-1 {
    margin-left: 10px;
}

.mr-1 {
    margin-right: 10px;
}

.mt-1 {
    margin-top: 10px;
}

/* RESPONSIVENESS SETTING */

@media screen and (max-width: 510px) {

    .app {
        .booklist {
            padding-top: 140px;
            padding-left: 15px;
            padding-right: 10px;
        }
    }

    .app .navbar {
        h1 {
            margin-left: 20px;
            font-weight: 700;
            font-size: 1em;
            font-family: 'Rubik';
        }

        li {
            font-size: .8em;
            text-align: end;
        }
    }

    .app .booklist,
    .empty-booklist {
        .bookdetails {
            width: 130px;
            height: 140px;

            margin-right: 15px;
            margin-bottom: 15px;
        }

        .bookdetails-add {
            width: 145px;
            height: 95px;
        }
    }

    .modal-content {
        width: 310px !important;
        height: 300px;
    }
}